@font-face {
  font-family: FirstFont;
  src: url(./font/Yanone_Kaffeesatz/static/YanoneKaffeesatz-SemiBold.ttf);
  font-display: auto;
}

@font-face {
  font-family: SecondFont;
  src: url(./font/Yanone_Kaffeesatz/static/YanoneKaffeesatz-Regular.ttf);
}

@font-face {
  font-family: TitleBody;
  src: url(./font/Yanone_Kaffeesatz/static/YanoneKaffeesatz-Medium.ttf);
}

@font-face {
  font-family: TextBody;
  src: url(./font/Yanone_Kaffeesatz/static/YanoneKaffeesatz-Regular.ttf
);
}

@font-face {
  font-family: FooterText;
  src: url(./font/Yanone_Kaffeesatz/static/YanoneKaffeesatz-Regular.ttf);
}

body {
  background: linear-gradient(to bottom, #410591 0%, #8307ca 100%);
  color: #ffffff;
  height: auto;
}

/* 
Header
 */
.header {
  text-align: center;
}

#header__h1 {
  font: 2em FirstFont;
}

.header__text {
  font: 1.4em SecondFont;
}

/* Figuras */
.box-container__header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  width: 100%;
}

.figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.purple__bg {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00C1D4;
  border-radius: 1rem;
  width: 48px;
  height: 48px;
  margin-bottom: 0.3rem;
  transition: all .3s ease;
}

.figure .purple__bg:hover {
  background-color: #8c379c;
}

.triangle__icon {
  width: 32px;
  height: 32px;
}

.circle__icon {
  width: 32px;
  height: 32px;
}

.square__icon {
  width: 32px;
  height: 32px;
}

/* 
Fin de header

Body
 */
.body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px auto;
  padding: 10px;
  width: 90vw;
  border-radius: 15px;
}

.figura {
  margin: 10px;
  padding: 0px 15px 15px;
  border: 1px solid #818181;
  border-radius: 10px 40px 10px 10px;
  background: #0343a3d8;
}

.figura__h2 {
  font: 1.5em TitleBody;
  text-align: center;
}

.figura__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.figura__icon__img {
  width: 200px;
  height: auto;
}

.figura__cuadrado-form,
.figura__triangulo-form,
.figura__circulo-form {
  font: 1.2em TextBody;
}

.container-input {
  margin: 10px;
}

.input {
  width: 50px;
  margin: 5px;
  border-radius: 5px;
  outline: none;
  background: #9300a085;
  color: #ffffff;
}

button {
  margin: 5px;
  padding: 5px;
  border: 1px solid #0000008f;
  background: #7d0088;
  color: #ffffff;
  border-radius: 5px;
}

.footer__text {
  font: 1.2em FooterText;
  text-align: center;
  margin: 4px;
}