/* Fonts */

@font-face {
  font-family: FirstFont;
  src: url(../assets/font/Yanone_Kaffeesatz/static/YanoneKaffeesatz-SemiBold.ttf);
  font-display: auto;
}

@font-face {
  font-family: SecondFont;
  src: url(../assets/font/Yanone_Kaffeesatz/static/YanoneKaffeesatz-Regular.ttf);
}

@font-face {
  font-family: TitleBody;
  src: url(../assets/font/Yanone_Kaffeesatz/static/YanoneKaffeesatz-Medium.ttf);
}

@font-face {
  font-family: TextBody;
  src: url(../assets/font/Yanone_Kaffeesatz/static/YanoneKaffeesatz-Regular.ttf
);
}

@font-face {
  font-family: Important;
  src: url(../assets/font/Yanone_Kaffeesatz/static/YanoneKaffeesatz-Medium.ttf
);
}

@font-face {
  font-family: FooterText;
  src: url(../assets/font/Yanone_Kaffeesatz/static/YanoneKaffeesatz-Regular.ttf);
}

/* ============================================Styles==================================================== */
/* ====================================================================================================== */

/* Header */
.header {
  width: 90%;
  margin: 0px auto;
  text-align: center;
}

.header__h1 {
  font: 2.5em FirstFont;
}

.header__text {
  font: 1.4em SecondFont;
}

/* Body */
body {
  background: linear-gradient(#4861f1, #00a2ff) fixed;
  color: #000000;
}

.form {
  width: 90%;
  margin: 20px auto;
  padding: 10px;
  background: #d8d8d8;
  border-radius: 20px;
  box-shadow: #636262 0px 0px 15px;
}

#form__h2 {
  font: 1.6em TitleBody;
  text-align: center;
}

.form__group {
  font: 1.2em TextBody;
  margin: 10px;
}

.form__group__input-number {
  width: 80px;
  margin: 10px;
  background: rgba(145, 152, 229, 0.616);
  outline: none;
  border-radius: 10px;
}

.btn {
  background: rgba(145, 152, 229, 0.616);
  outline: none;
  border-radius: 10px;
}

.result {
  border-radius: 15px;
  background: rgba(145, 152, 229, 0.616);
  margin: 10px;
  padding: 0px 10px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.result__text {
  font: 1.2em Important;
}

.result__number {
  font: 1.3em Important;
  font-weight: bold;
  color: #5335ff;
  text-align: right;
}

.result-info {
  border-radius: 15px;
  background: rgba(230, 100, 100, 0.5);
  margin: 10px;
  padding: 0px 10px;
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}

/* ============================================Media Queries================================================ */
.footer__text {
  font: 1.2em FooterText;
  text-align: center;
  margin: 4px;
}

.bold {
  font-weight: bold;
}

/* ============================================Media Queries================================================ */


/* ============================================Media Queries================================================ */
@media screen and (min-width: 500px) and (max-width:800px) {
  .form {
    width: 60%;
    margin: 20px auto;
  }
}

@media screen and (min-width: 800px) and (max-width:1000px) {
  .form {
    width: 50%;
    margin: 20px auto;
  }
}

@media screen and (min-width: 1000px) {
  .form {
    width: 35%;
    margin: 20px auto;
  }
}